.logo{
    width: 60px;
    height: 60px;
    margin-left: 1%;
}
.social{
    width:22px;
    height:20px;
   
}
body{
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu',sans-serif;
}
header{
    background-color:rosybrown ;
    top:0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    
}
footer{
    background-color:rosybrown ;
    bottom:0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}


.icons{
   margin-right: 2%;
}
.links{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;  
    margin-right: 2%;
}
.links a {
    text-decoration: none;
    color: black;
}
.contact{
    text-decoration: none;
    color: black;
    margin-left: 2%;
    text-align: center;
    line-height: 60px;

}
#copyright{
    font-size: 12px;
    text-align: center;
    line-height: 60px;
}