.carousels{
    width: 500px;
   max-height: 350px;
   
   display: block;
   margin:10px auto;
}
.inner{
    display: flex;
    flex-direction: row;
    max-height: 400px;
    border:1px solid black;
    align-items: center;
    margin-top:30px;
}
#demo{
    display: flex;
    justify-content: center;
    width: 70%;
    border-right: 1px solid black;
}
.right{
   width: 30%;
}
label{
    text-align: left;
}
input[type="text"],[type="number"],[type="date"]{
   width:60%;
    float:right;
}
#book{
    height: 40px;
    margin:0 auto;
    display:block;

}
#arrow{
    font-size: 55px;
    color: rosybrown;
}
form{
    padding:0px 20px;
}
h5{
    font-family: cursive;
    font-weight: bold;
}
.container-fluid{
    margin-top:100px;
    margin-bottom:100px;
}
.container-fluid h2{
    margin-top: 30px;
}