.cards{
    width: 150px;
    height: 150px;
    padding: 4%;
    border-radius: 25%;
}
#city{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

}
#city input{
    margin : 190px auto;
    background-color: #f1f1f1;
    border:1px solid transparent;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 12px;
    
}

#images{
    margin-left: 20%;
    margin-right: 15%;
}

.view{
    text-align: center;
    margin-bottom: 40px;
}
.view a{
    text-decoration: none;
    color: black;
    
}
