.cards{
    width: 150px;
    height: 150px;
    padding: 4%;
    border-radius: 25%;
}
#city{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#images{
    margin-left: 15%;
    margin-right: 15%;
}