.image{
    width: 250px;
    height: 250px;
}


#card{
    background-color: rgb(132,136,139);
    width: 40%;
    margin: 0px 70px 50px;
    display: inline-block;
    
    
}
#card a{
    text-decoration: none;
    color: black;
}
.list ul a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding:20px;
    
   
}
.list ul{
    list-style-type: none;
    text-align: center;

}
.list ul li{
    display: inline;
    
}