.image{
    width: 250px;
    height: 250px;
    float: left;
    padding-right:30px
}
.card1{
    background-color:lightgray;
    width: 40%;
    display: inline-block;
    margin: 0px 70px 50px;
}
.card1 a{
    text-decoration: none;
    color: black;
}
#list{
    float:right;
    color: black;
}
#mapp{
    border:none;
    color: black;
}
#view{
    margin:20px 0px;
}
#flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom:100px;
}
.card1:hover{
    background-color: rosybrown;
}
.card1 a:hover{
    text-decoration: none;
    color:black;
}
#map{
   display: none;
}
.card1 h3{
    margin-top: 30px;
}
.rating{
    color:orange;
}
#noRating{
    color:black;
}