#image{
    max-width: 270px;
    max-height: 300px;
    padding-right: 20px;;
}
.container1{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
}
#information{
    background-color: rosybrown;
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

#pay{
    color: black;
    text-decoration: none;
}
.outer{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    
    
}

#information p{
    font-family: cursive;
   
   
}
.address{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}